

{
    "presets": [
        ["env",
        {
            "targets":
            {
                "node": "current"
                //"browsers": ["last 2 versions", "safari >= 7"]
            }
        }
        ]
    ],
    "plugins": ["transform-runtime", "transform-object-rest-spread"]
    
}